.keys-row {
  display: flex;
  
  .key-wrapper {
    display: none;
    margin-left: 20px;
  }
}

.center-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

#revision {
  position: fixed;
  bottom: 10;
  right: 10;
  font-size: 12px;

  @media print {
    display: none;
  }
}

